.users, .related-contacts {
    float: left;
}

.users {
    width: 70%;}

.related-contacts {
    width: 20%;
}

.user {
    width: 20%;
    border: 1px solid black;
    display: inline-block;
}

.related-contact {
    
}