
.users, .related-contacts-container {
    float: left;
    font-family: sans-serif;
}

.users {
    width: 70%;
}

.user {
    width: 22%;
    max-height: 100px;
    border: 1px solid gray;
    background-color: rgba(246, 246, 246, 0.3);
    display: inline-block;
    margin-right: 0.7%;
    margin-bottom: 0.7%;
    padding: 1%;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
}

.user:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    background-color: rgb(241, 241, 241);
    box-shadow: 0 0 4px #000000;
}

div.selected {
    border: 1px solid rgb(59, 59, 59);
    background-color: rgb(241, 241, 241);
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
}

p {
    margin: 3%;
    overflow:hidden; 
    white-space: nowrap;
}

@media screen and (max-width: 1100px) {
    .name-identifyer {
        display: none;
    }
}

@media screen and (max-width: 780px) {
    .gender-identifyer {
        display: none;
    }
}

.related-contacts-container {
    width: 26%;
}

.buttons-container:after {
    display: block;
    content: "";
    clear: both;
}

.buttons-container button {
    width: 33%;
    height: 50px;;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(246, 246, 246, 0.8);
    overflow: hidden;
}

.buttons-container button:hover{
    background-color: rgb(241, 241, 241);
}

.related-contacts {
    height: 85%;
    width: 99%;
    background-color: rgb(241, 241, 241);
    padding: 1%;
    text-align: center;
    box-sizing: border-box;
}

button.selected {
    background-color: rgb(241, 241, 241);
}

.error {
    color: red;
}